body {
  height: 100%;
  width: 100%;
}

.gamediv {
  height: 100%;
  width: 100%;
  border: 1px black solid;
  margin: 2px 5px;
}

.gamehead {
  height: 10%;
  width: 100%;
  border: 1px blue solid;
  float: left;
}

.gameheaddiv {
  display: inline-block;
  /* border: 1px green solid; */
}
.div30 {
  left: 0p;
  width: 30%;
}

.div70 {
  width: 65%;
}

.gameBody {
  height: 90%;
  width: 100%;
  border: 1px red solid;
}
.bold {
  font-weight: bold;
}

.bigbtn {
  width: 100%;
  height: 100%;
}
